async-timeout
autopep8
beautifulsoup4
certifi
charset-normalizer
click
dnspython
elasticsearch
email-validator
envparse
Flask
Flask-And-Redis
flask-mongoengine
flask-paginate
Flask-SQLAlchemy
Flask-WTF
gunicorn
httplib2
idna
itsdangerous
Jinja2
lxml
MarkupSafe
mongoengine
numpy
opencv-python
packaging
Pillow
psycopg2-binary
pycodestyle
pymongo
pyparsing
pytesseract
python-dateutil
redis
requests
six
soupsieve
SQLAlchemy
tomli
urllib3
Werkzeug
WTForms